.aw-box-text {
  font-size: 4rem;
  text-align: center;
}
.aw-box-green {
  background-color: #C8FF8A;
}
.aw-box-yellow {
  background-color: #FFEB87;
}
.aw-box-red {
  background-color: #F97878;
}
.aw-text-area-180 {
  max-height: 180px;
}

/*Select 2*/
.select2-selection--single{
  width: 100% !important;
  height: calc(1.6em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  line-height: 1.6 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  padding-left: 6px !important;
}
.select2-selection__arrow {
  margin-top: 5px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: unset !important;
}
.select2.select2-container.select2-container--default {
  width: auto !important;
}
.select2-container {
  display: block !important;
}


.container-aw{
  margin-top: 15px;
}
.container-aw > .row > .col-md-6{
    padding-left: 0 !important;
}

//Icons
.icons, .aw-trash-button {
  font-size: 25px;
}
.aw-trash-button{
  padding-top: 0 !important;
}
.fa-edit {
  color: #fca91f !important;
}
.fa-trash {
  color: #fc0003 !important;
}
.fa-euro-sign {
  color: #1cb500;
}
.aw-a-button {
  color: #fff !important;
}
.paid {
  color: #1cb500;
}
.not-paid {
  color: #a5a5a5;
}

.aw-checkbox {
  width: 50% !important;
}

.aw-options > textarea{
    max-height: 100px !important;
}

